.about-container {
  display: flex;
  justify-content: space-evenly;
  height: 40vw;
  width: 100%;
  padding: 2vw;
  margin: vw;
}

.left-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 1vw;
  margin-top: 3vw;

}

.left-about img {
  width: 18vw;
  height: 35vh;
  margin-right: 2vw;
  margin-bottom: 1vw;
  /* border-radius: 10px; */
}

.left-about img:nth-of-type(2) {
  width: 15vw;
  height: 27vh;
}

.left-about img:nth-of-type(3) {
  width: 15vw;
  height: 27vh;
}

.right-about {
  width: 50%;
  padding: 3vw;
  margin: 5vw;
}

.right-about small {
  text-transform: capitalize;
  font-weight: bold;
  color: orange;
  font-size: 2vw;
  font-family: 'Cedarville Cursive', cursive;

}

.right-about h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Cedarville Cursive', cursive;
}

.right-about p {
  text-transform: capitalize;
  width: 35vw;
  margin-bottom: 3vw;
}

.number-display {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.eachno {
  margin-left: 2px;
  width: 20vw;
  padding: 1vw;
  border-left: 6px solid orange;
  background-color: #f3f3f3;
  transition: all 0.5s linear;
  cursor: pointer;
}

.eachno:hover {
  transform: translate(5px);
}

.eachno i {
  color: orange;
  font-size: 2vw;
}

.eachno p {
  margin: 0;
  padding: 0;
  color: grey;
}

.eachno span {
  font-weight: bold;
}

.right-about button {
  margin-top: 1vw;
  padding: 0.5vw;
  background-color: orange;
  text-transform: capitalize;
  border: none;
  border-radius: 3px;
  color: white;

}

.right-about button:hover {
  background-color: white;
  color: orange;
}

@media(max-width:700px) {
  .about-container {
    height: 75vh;
  }

  .left-about {
    display: none;
  }

  .right-about {
    padding: 2vw;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .right-about small {
    font-size: 5vw;
    padding: 1vw;

  }

  .right-about p {
    width: 100%;
  }

  .right-about button {
    width: 20%;
    margin-top: 2vw;
  }

  .right-about .eachno {
    width: 15vw;
    margin-right: 2vw;
  }
}