.contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

.left-contact {
  width: 40%;
  padding: 3vw;
}

.right-contact {
  width: 45%;
  background-color: #f3f3f3;
  margin-top: 3vw;
  height: 60vh;
  padding: 1vw;
}

.right-contact p {
  text-transform: capitalize;
  color: orange;
  font-weight: bold;
  font-size: 1.9vw;
  font-family: 'Cedarville Cursive', cursive;
}

.right-contact h1 {
  text-transform: capitalize;
  font-size: 2vw;
  margin-top: 1vw;
  font-family: 'Cedarville Cursive', cursive;
}

.right-contact form {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Cedarville Cursive', cursive;
}

.right-contact input {
  width: 40%;
  margin: 1vw;
  padding: 0.5vw;
  text-transform: capitalize;
  outline: none;
}

.right-contact select {
  height: 2.6vw;
  width: 40%;
  margin-top: 1vw;
  margin-left: 1vw;
}

.contact-container textarea {
  text-transform: capitalize;
  padding: 0.5vw;
  resize: none;
  margin: 1vw;
  height: 6vw;
  width: 86%;
  display: block;
}

.contact-container button {
  padding: 0.5vw;
  text-transform: capitalize;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 1vw;
}

@media(max-width:700px) {
  .contact-container {
    height: 130vh;
  }

  .contact-container p {
    font-size: 3vw;
  }

  .contact-container h1 {
    font-size: 2.5vw;
  }

  .left-contact {
    width: 100vw;
    height: 70vh;
  }

  .right-contact {
    width: 100vw;
    height: 50vh;


  }

  .right-contact input {
    width: 100%;
    margin-bottom: 0.5vw;
  }

  .contact-container select {
    width: 98%;
    height: 5vh;
  }

  .contact-container textarea {
    width: 100%;
  }
}