* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    z-index: 1000;
    padding-top: 1vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: darkblue;
    width: 100vw;
    font-family: 'Cedarville Cursive', cursive;

}

.logo {
    font-size: 30px;
    width: 55vw;
    text-transform: capitalize;
    font-weight: bold;
    color: orange;
    padding-left: 3vw;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

ul li {
    list-style: none;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 10px;
    transition: all 0.5s;


}

ul li i {
    font-size: 2vw;
    color: white;
    padding-right: 1vw;
}

ul li i:hover {
    color: orange;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: orange;
}

ul li a button {
    padding: 0.1vw;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}

ul li a button:hover {
    color: orange;
}

.humberger i {
    font-size: 2rem;
    padding-right: 20px;
    display: none;

}

@media(max-width:700px) {
    .humberger i {
        display: block;
        color: orange;
    }

    ul {
        position: fixed;
        top: 60px;
        left: -1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: orange;
        width: 100vw;
        height: 70vh;
        border-radius: 10px;
        transition: all 0.5s;

    }

    ul li a:hover {
        color: black;
    }

    ul.show {
        left: 0
    }
}
.right{
    right: 20px;
}